/Java/Stack/nbproject/private/
/Java/Stack/build/
/Java/Vector3D/nbproject/private/
/Java/Vector3D/build/
/Java/BigInteger/nbproject/private/
/Java/BigInteger/build/
/Java/List/nbproject/private/
/Java/List/build/
/Java/List/dist/